[aliquis]
DEBUG = false
SECRET_KEY = <RANDOM STRING FOR CSRF PROTECTION>

#[ldap]
#LDAP_HOST = ldap.example.org
#LDAP_PORT = 389
#LDAP_BIND_USER_DN = cn=admin,dc=example,dc=org
#LDAP_BIND_USER_PASSWORD = admin1234
#LDAP_USE_SSL = true
#LDAP_REQUIRE_CERT = NONE
#LDAP_PEOPLE_BASEDN = ou=people,dc=example,dc=org
#LDAP_BASE_DN = dc=example,dc=org
#LDAP_USER_DN = ou=people
#LDAP_USER_CLASS = inetOrgPerson
#LDAP_USER_LOGIN_ATTRIBUTE = uid
#LDAP_USER_RDN_ATTRIBUTE = uid

[celery]
CELERY_BROKER_URL = redis://localhost:6379
CELERY_RESULT_BACKEND = redis://localhost:6379

#[mail-sendgrid]
#SENDGRID_API_KEY = <YOUR SENDGRID API KEY>
#SENDGRID_SENDER_NAME = Example Foundation
#SENDGRID_SENDER_EMAIL = no-reply@example.org

[babel]
BABEL_LANGUAGES = fr,en
BABEL_DEFAULT_LOCALE = fr
BABEL_DEFAULT_TIMEZONE = Europe/Paris
